[submodule "KDTree"]
	path = KDTree
	url = git@github.com:crvs/KDTree.git
[submodule "tinyply"]
	path = tinyply
	url = https://github.com/ddiakopoulos/tinyply
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
