[submodule "KDTree"]
	path = KDTree
	url = https://github.com/crvs/KDTree.git
[submodule "tinyply"]
	path = tinyply
	url = https://github.com/ddiakopoulos/tinyply
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
