# ignore all files
*

# unignore directories
!*/

# ignore build directory
/build

# unignore source files
!*.cpp
!*.c
!*.hpp
!*.h
!*.md

# ignore all hidden files
.*

# unignore gitignore
!/.gitignore

